h1:after {
  content: "";
  display: block;
  height: 2px;
  width: 30%;
  background-color: #444e50;
  margin-top: 10px; }

.navbar {
  display: inline-block; }

.signedIn__outBtn {
  margin-left: 5px; }

.header--second:after {
  content: "";
  display: block;
  height: 2px;
  width: 10%;
  background-color: #444e50;
  margin-top: 10px; }

.siteBody__menu {
  margin-top: 25px; }

.menu__item:hover {
  background-color: #9d9d9d; }

.content__myInfo {
  margin-bottom: 15px; }

.content__myMsg {
  display: none; }

.content__myInstitutions {
  display: none; }

.content__myFavourites {
  display: none; }

.content__myApplications {
  display: none; }

.myInfo__userFIO--fName {
  display: inline-block;
  font-size: 1.2em;
  font-weight: 1.0em; }

.myInfo__userFIO--surname {
  display: inline-block;
  font-size: 1.2em;
  font-weight: 1.0em; }

.myInfo--title {
  font-size: 1.1em;
  font-weight: 600;
  padding: 10px; }

.myInfo--text {
  font-weight: 500; }

.myMsg__newMsgBtn {
  margin: 10px; }

.myMsg__panel {
  max-width: 80%; }
  .myMsg__panel--msgText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

#newMsgModal__modalBody--text {
  resize: none;
  overflow-y: hidden; }

.msgFooter__moreBtn:hover {
  text-decoration: none;
  color: blue; }

.fullMsgFooter__replyText {
  margin-top: 15px; }
  .fullMsgFooter__replyText--text {
    resize: none;
    overflow-y: hidden; }

.fullMsgFooter__replySubmitBtn {
  margin-top: 15px; }

.myApplications__createKeyBtn {
  margin: 10px 10px 20px 0; }

.myApplications__newApp {
  display: block;
  max-width: 150px; }

#appBody__dropdownApp {
  margin: 10px;
  display: inline-block; }

#appBody__generateResult {
  font-size: 1.5em; }

#dropdownApp__appBtn {
  min-width: 150px; }

.appListItem__aboutBtn:hover {
  text-decoration: none;
  color: blue; }
