h1:after {
	content: "";
	display: block;
	height: 2px;
	width: 30%;
	background-color: #444e50;
	margin-top: 10px;
}

.siteBody {
	&__classifier {
		background-color: #9d9d9d;
		padding: 10px;
		border-radius: 4px;
		min-height: 40px;
		max-width: 90%;
		margin-top: 4%;
		margin-bottom: 4%;
		font-size: 1.1em;
	}
}

.form {

	&__cities {
		display: inline-block;
	}

	&__subjects {
		display: inline-block;
	}
	&__subjectCheckbox {
		display: inline-block;
		margin: 10px;
	}

	&__militaryCheckbox {
		display: inline-block;
	}
}

.content {
	&__institutionsList {
		list-style-type: none;
	}
}

#dropdownCitiesBtn {
	min-width: 150px;
}

.dropdownCitiesList {
	&__item {
		padding-left: 10px;
		&:hover {
			cursor: pointer;
			background-color: #d4d4d4;
		}
	}
}

.passingScore {
	
	&__title {
		margin-bottom: 15px;
	}

	&--from {
		
		display: inline-block;
		width: 50%;
	}

	&--to {
		
		display: inline-block;
		width: 50%;
	}
}

.institutionsList {
	&__item {
		
		&--short {
			font-size: 1.2em;
			font-weight: 600;
		}

		&--detailsBtn {
			float: right;
		}
	}

	&__favourites {
		float: right;
	}
}

.favourites {

	font-size: 1.2em;

	&__addToFavourites {
		&:hover {
			color: blue;
		}
	}

	&__deleteFromFavourites {
		display: none;
		&:hover {
			color: blue;
		}
	}
}

.modalBody {
	margin-bottom: 10px;

	&__title {
		font-size: 1.1em;
		font-weight: 600;
	}
}

.militaryCheckbox {
	&__checkbox {
		margin-left: 10px;
	}
}

.departList {
	&__item {
		&--shedule {
			padding-left: 10px;
			&:hover {
				color: blue;
			}
		}
	}
}