// #edd1b7 coffee with milk
// #d9b18d light coffee
// #bc8b60 hard coffee
// #275167 sea-color
// #1e1f5f powerfull blue
// #9a959b dark grey
// #222222 navbar
// #101010 navbar border

@import url(http://allfont.ru/allfont.css?fonts=pt-sans);
@import url(http://allfont.ru/allfont.css?fonts=pt-sans-narrow);

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url("../fonts/bootstrap/glyphicons-halflings-regular.eot");
	src: url("../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/bootstrap/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

// @font-face {
// 	font-family: 'FontAwesome';
// 	src: url("../fonts/font-awesome/fontawesome-webfont.eot");
// 	src: url("../fonts/font-awesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/font-awesome/fontawesome-webfont.woff2") format("woff2"), url("../fonts/font-awesome/fontawesome-webfont.woff") format("woff"), url("../fonts/font-awesome/fontawesome-webfont.ttf") format("truetype"), url("../fonts/font-awesome/fontawesome-webfont.svg#fontawesomeregular") format("svg");
// 	font-weight: normal;
// 	font-style: normal;
// }

body {
	// background-color: #222222;
}

.siteHeader__location {
	color: #9d9d9d;
}

.header--second {
	font-family: 'PT Sans Narrow', Arial;
}

.navbar {
	// background-color: #121348;
	font-family: 'PT Sans', Arial;
}

.siteBody {
	margin-top: 50px;
	font-family: 'PT Sans', Arial;
	//background-color: #d9b18d;
}

.siteFooter {
	font-family: 'PT Sans', Arial;
	border-top: 1px solid #101010;
}