// #edd1b7 coffee with milk
// #d9b18d light coffee
// #bc8b60 hard coffee
// #275167 sea-color
// #1e1f5f powerfull blue
// #9a959b dark grey
// #222222 navbar
// #101010 navbar border

@import url(http://allfont.ru/allfont.css?fonts=pt-sans);
@import url(http://allfont.ru/allfont.css?fonts=pt-sans-narrow);

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url("../fonts/bootstrap/glyphicons-halflings-regular.eot");
	src: url("../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/bootstrap/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

p {
	font-family: 'PT Sans', Arial;
}

a {
	color: black;
	font-weight: 600;
	&:hover {
		color: blue;
		text-decoration: none;
	}

	&:focus {
		color: blue;
		text-decoration: none;
	}
}


#siteHeader {
	&__location {
		color: #9d9d9d;
		margin-left: 10px;
		padding: 5px 5px 5px 20px;
		border: 1px solid #9d9d9d;
	}
}

.header {
	&--second {
		font-family: 'PT Sans Narrow', Arial;
	}
}

.siteHeader {
	
	& a {
		font-weight: 400;
	}

	&__navbar {
		font-family: 'PT Sans', Arial;
	}
	
	&__logo {
		padding-top: 10px;
	}

	&__loginForm {
		margin-right: 10px;
	}
}


#loginForm {
	&__password {
		max-width: 120px;
	}
}

.siteBody {
	margin-top: 70px;
	font-family: 'PT Sans', Arial;
}

.siteFooter {
	font-family: 'PT Sans', Arial;
	border-top: 1px solid #101010;
	margin-bottom: 10px;
	padding-top: 10px;
}

.navbar {
	&__signedIn {
		display: none;
		margin: 10px 10px 5px 15px;
		display: inline-block;
	}

	& .navbar-link {
		&:hover {
			color: blue;
		}
	}
}